.SVGEditor-wishcard-container {
	width: 100%;
	height: 60vh;
	border-radius: 10px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.SVGEditor-toolbar {
	background-color: #123;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
}

.SVGEditor-toolbar > div {
	display: flex;
	align-items: center;
	gap: 12px;
}

.SVGEditor-tool {
	background-color: #123;
	border: none;
	border-radius: 5px;
	padding: 0px;
	color: #fff;
	display: inline-flex;
	align-items: center;
	height: 30px;
}

#SVGEditor-set-color {
	background-color: #000;
	border: 3.1px solid #ffffff;
	border-radius: 4px;
	width: 29px;
	height: 29px;
}

.SVGEditor-action-icon {
	fill: #fff;
	stroke: #fff;
	width: 34px;
	height: 34px;
}

.SVGEditor-wishcard-container svg {
	border: #123 1px solid;
	border-radius: 10px;
}

.SVGEditor-elements {
	position: absolute;
	width: 100%;
	height: 100%;
	/* background-color: #0000;
	border: 1px solid #fff; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.SVGEditor-elements textarea {
	background-color: #000a;
	color: #fff;
	border: 2px solid #fff;
	z-index: 2;
}

.SVGEditor-action-translate, .SVGEditor-action-scale, .SVGEditor-action-cancel, .SVGEditor-action-delete  {
	position: absolute;
	padding: 0;
	background: #000a;
	border: 2px solid #fff;
	border-radius: 5px;
}

.SVGEditor-action-translate {
	left: 0;
	top: 0;
	cursor: move;
}
.SVGEditor-action-scale {
	right: 0;
	bottom: 0;
	cursor: nw-resize;
}
.SVGEditor-action-cancel {
	right: 0;
	top: 0;
	cursor: pointer;
}

.SVGEditor-action-delete {
	left: 0;
	bottom: 0;
	cursor: pointer;
}

.SVGEditor-elements svg {
	width: 25px;
}
.SVGEditor-elements svg path {
	fill: #fff;
}
