* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
	padding: 10px;
	background-color: #123;
	color: aliceblue;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: right;
}

h1 {
	text-align: center;
}

.editor-area {
	padding: 10px 40px;
}
